<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtros</title>
    <link rel="shortcut icon" href="../assets/favicon.png"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/lib/bootstrap.bundle.min.js"></script>
</head>

<body>
<div id="nav-placeholder"></div>
<main>
    <div class="container-fluid p-0 m-0 justify-content-center d-grid" style="min-height: 400px;">
        <div class="row w-100 p-0 w-0" style="border: 1px solid; border-radius: 5px; border-color: #C9C9C9;">
            <div class="col-lg-4 mb-2 align-items-center">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagem Original</h5>
                        <div class="card-img-top" id="original-img"></div>
                        <div style="width: 256px; height: 50px;" class="text-center">
                            <select class="form-select" aria-label="Selecionar imagem" id="img-selector">
                                <option selected value="0">Lena</option>
                                <option value="1">Lena sal e pimenta</option>
                                <option value="3">Avião</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px; border: none;">
                    <div class="card-body">
                        <h5 class="card-title">Filtros</h5>
                        <div style="width: 250px;height: 135px;">
                            <select class="form-select" size="5" aria-label="Selecionar filtro" id="input-filter">
                                <option selected value="0">Original</option>
                                <option value="1">Personalizado</option>
                                <option value="9">Média</option>
                                <option value="23">Mediana</option>
                                <option value="2">Detecção de Bordas</option>
                                <option value="3">D. B. - Passa alto básico</option>
                                <option value="5">Sobel X</option>
                                <option value="6">Sobel Y</option>
                                <option value="21">Sobel Magnitude</option>
                                <option value="7">Prewitt X</option>
                                <option value="8">Prewitt Y</option>
                                <option value="22">Prewitt Magnitude</option>
                                <option value="11">Gradient X</option>
                                <option value="12">Gradient Y</option>
                                <option value="19">Roberts Magnitude</option>
                                <option value="13">Roberts X (Cruzado)</option>
                                <option value="14">Roberts Y (Cruzado)</option>
                                <option value="20">Roberts Magnitude (Cruzado)</option>
                                <option value="25">Alto Reforço</option>
                            </select>
                        </div>
                        <div class="container text-center" style="margin: 10px 0 18px">
                            <form id="input-matrix" class="text-center" role="form">
                                <input class="" type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <br>
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <br>
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                                <br> x <br>
                                <input type="number" id="scalar" value="1" min="-10" max="10" step=".1"
                                       style="width: 65px; text-align:center; border: 0; outline: 0;
                                       border-bottom: 1px solid #C9C9C9;">
                            </form>
                        </div>
                        <button type="button" class="btn btn-primary" id="apply-filter-btn" style="width: 250px;">
                            Aplicar filtro
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px; border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagem Processada</h5>
                        <div class="card-img-top" id="processed-img"></div>
                        <div class="form-check" style="margin: 10px 0 10px;">
                            <input class="form-check-input" type="checkbox" id="normalizeSwitch">
                            <label class="form-check-label" for="normalizeSwitch">Normalizar</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    fetch('navbar.html')
        .then(function (response) {
            return response.text();
        })
        .then(function (body) {
            document.getElementById('nav-placeholder').innerHTML = body;
            document.getElementById('filter-li').classList.add('active');
        });
</script>
<script src="../js/lib/p5.min.js"></script>
<script src="../js/src/utils.js"></script>
<script src="../js/src/filters.js"></script>
</body>
</html>