<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gato de Arnold</title>
    <link rel="shortcut icon" href="../assets/favicon.png"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/lib/bootstrap.bundle.min.js"></script>
</head>

<body>
<div id="nav-placeholder"></div>
<main>
    <div class="container-fluid p-0 m-0 justify-content-center d-grid" style="min-height: 400px;">
        <div class="row w-100 p-0 w-0">
            <div class="col-lg-4 mb-2 align-items-center">
                <div class="card mx-auto" style="width:300px; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagem Original</h5>
                        <div class="card-img-top" id="original-img"></div>
                        <div style="width: 256px; height: 50px;" class="text-center">
                            <select class="form-select mt-4" aria-label="Selecionar filtro" id="img-selector">
                                <option selected value="0">Lena</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card  mx-auto align-items-center" style="width:300px; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imagem Processada</h5>
                        <div class="card-img-top" id="processed-img"></div>
                        <div class="btn-group d-flex mt-4" role="group">
                            <button type="button" class="btn btn-outline-dark" id="input-filter">
                                Aplicar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    fetch('navbar.html')
        .then(function (response) {
            return response.text();
        })
        .then(function (body) {
            document.getElementById('nav-placeholder').innerHTML = body;
            document.getElementById('warp-li').classList.add('active');
        });
</script>
<script src="../js/lib/p5.min.js"></script>
<script src="../js/src/utils.js"></script>
<script src="../js/src/warp.js"></script>
</body>
</html>